$material-light: (
  'background': #eceff1,
);
$body-font-family: 'Open Sans', sans-serif;

.max-width_element {
  max-width: 950px;
}

.max-width_txt {
  max-width: 600px;
}

.cursor-pointer {
  cursor: pointer;
}

.z-index-1000 {
  z-index: 1000;
}
